<div class="row">
  <div class="span4">
    <h3><%= @quiz.name %></h3>

    <% @quiz.questions.each do |q| %>

      <div class="well">
        <%= render :partial => "shared/question_show", :locals => { :question => q } %>
      </div>

    <% end %>

    <%= button_to "Edit Quiz", edit_quiz_path(@quiz), :method => :get, :class => "btn btn-inverse" %>

  </div>
</div>