<div class="row">
  <div class="span4">
    <h3>Edit <%= @diva.name %></h3>

    <%= render :partial => "shared/diva_form", :locals => { :diva => @diva, :class_name => "btn-success", :btn_text => "Update Diva" } %>

  </div>
</div>