<div class="row">
  <div class="span4">
    <h3>New Diva</h3>

    <%= render :partial => "shared/diva_form", :locals => { :diva => @diva, :class_name => "btn-primary", :btn_text => "Create Diva" } %>

  </div>
</div>