<strong>Questions Answered:</strong>  
  <% if user.answers.empty? %>
    
    <em>No Questions Answered Yet</em>

  <% else %>

    <ul>

    <% user.answers.each do |a| %>
      <li>
        <%= Question.find(a.question_id) %>
        <ul>
          <li>Answer: <%= a.answer %></li>
        </ul>
      </li>
    <% end %>

    </ul>
    <strong>Diva:</strong> <%= Diva.find(u.my_diva).name %>

  <% end %>